body {
  background-color: #292929;
  color: #F5F5F5;
  opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
}

#main-header {
  background-color:#525252;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #F5F5F5;
  position: relative;
}

.logo a img {
  cursor: pointer;
}

.logo img {
  position: absolute;
  top: 10px;
  left: 40px;
  width: 100px;
  height: 100px;
}

.logo p {
  font-size: 72px;
  font-family: 'Cinzel', serif;
}

.social-icons {
  position: absolute;
  display: flex;
  gap: 40px;
  top: 45px;
  right: 40px;
}

.social-icons a {
  text-decoration: none; 
    font-weight: normal; 
    transition: font-weight 0.3s, text-decoration 0.3s; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  color: white;
  font-size: 20px;
  text-decoration: none;
  gap: 20px; 
}

.social-icons a:hover {
  text-decoration: underline; 
}

.sobre::before {
  content: url("/img/group_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg"); 
  display: flex; 
  width: 24px;
  height: 24px;
}

.ranking::before {
  content: url("/img/star_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24\ \(1\).svg"); 
  display: flex;
  width: 24px;
  height: 24px;
}

span {
  text-align: center;
  display: grid;
  margin-top: 20px;
  font-size: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex; 
  align-items: center; 
}

#description {
  flex: 2; 
  text-align: left; 
}

#image {
  flex: 1; 
  display: flex;
  justify-content: center;
}

.value-img {
  max-width: 100%; 
  height: auto;
}